{% extends 'layout1.html' %}

{% block content %}

<h1 style="font-size: 48px; padding: 20px;text-align: center;">Register Here</h1>
<div class="property-form" style="text-align: center;">
    <form name="addResource" action="" style="padding: 0% 20% 0 20%;" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            <b> {{ form.email.label}}</b>
            {% for error in form.email.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
            {{ form.email(class_="form-control")}}
        </p>
        <p>
            <b> {{ form.name.label}}</b>
            {% for error in form.name.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
            {{ form.name(class_="form-control") }}
        </p>
        <p>
            <b> {{ form.age.label}}</b>
            {% for error in form.age.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
            {{ form.age(class_="form-control")}}
        </p>
        <p>
            <b> {{ form.languageSpoken.label}}</b>
            {% for error in form.languageSpoken.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
            {{ form.languageSpoken(class_="form-control")}}
        </p>
        <p>
            <b> {{ form.locationZipCode.label}}</b>
            {% for error in form.locationZipCode.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
            {{ form.locationZipCode(class_="form-control")}}
        </p>
        <p>
            <b> {{ form.idNumber.label}}</b>
            {% for error in form.idNumber.errors %}
            <span class="error-message">{{ error }}</span>
            {% endfor %}
            {{ form.idNumber(class_="form-control")}}
        </p>
        <p>
            {{ form.submit() }}
        </p>

    </form>
    {% endblock %}