body{
    margin: 0;

}

.nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.action{
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 80px;
}

.gender{
    padding: 30px;
    justify-items: space-evenly;
}