    <header>
        <nav>
            <ul class="nav nav-pills">
                <li class="nav-item"><a href="/" class="nav-link {% if index %}active{% endif %}">Home</a></li>
                <li class="nav-item"><a href="/addProperty" class="nav-link {% if addProperty %}active{% endif %}">Host your home</a></li>
                <li class="nav-item"><a href="/listProperty" class="nav-link {% if listProperty %}active{% endif %}">Listing</a></li>
                <!-- <li class="nav-item"><a href="/addCovidLogin" class="nav-link {% if addCovidLogin %}active{% endif %}">Covid Login</a></li> -->
                {% if not session['username'] %}
                <li class="nav-item"><a href="/login" class="nav-link {% if login %}active{% endif %}">Login</a></li>
                {% else %}
                <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
                {% endif %}
                <li class="nav-item"><a href="/covidHelp" class="nav-link {% if listCovidResources %}active{% endif %}">COVID HELP</a></li>
            </ul>
        </nav>
        <hr style="clear:both">
    </header>