<header>
    <nav>
        <ul class="nav nav-pills">
            <!-- <li class="nav-item"><a href="/" class="nav-link {% if index %}active{% endif %}">Home</a></li> -->
            <li class="nav-item"><a href="/covidHelp" class="nav-link {% if covidHelp %}active{% endif %}">Covid help</a></li>
            
            <li class="nav-item"><a href="/addHotel" class="nav-link {% if addHotel %}active{% endif %}">Provide Shelter</a></li>
            <li class="nav-item"><a href="/listHotel" class="nav-link {% if listHotel %}active{% endif %}">Find Shelter</a></li>

            <li class="nav-item"><a href="/addCovidResources" class="nav-link {% if addCovidResources %}active{% endif %}">Donate Food Medicine</a></li>
            <li class="nav-item"><a href="/listCovidResources" class="nav-link {% if listCovidResources %}active{% endif %}">Get Food Medicine</a></li>
            <li class="nav-item"><a href="/addCovidLogin" class="nav-link {% if addCovidLogin %}active{% endif %}">Registration</a></li>
            
            <!-- <li class="nav-item"><a href="/covidHelp" class="nav-link {% if listProperty %}active{% endif %}">COVID HELP</a></li> -->
        </ul>
    </nav>
    <hr style="clear:both">
</header>